
.logo {
  width: 120px;
  height: 120px;
  margin: 35px auto 8px;
  border-radius: 10%;
  background: url("/assets/img/homelogo.png") no-repeat;
  background-size: 100%;
}

.pagebg {
  --background: linear-gradient(to right top, #E5E3E3,
  #E5E3E3, #E5E3E3, #E5E3E3, #E4E2E2);
  }
  .btn{
      margin-top: 30px;
      
  }